* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
}

h1, h2, h3, h4, p, a {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 30px;
    color: #acd;
}

h4 {
    font-size: 25px;
    color: #69b;
}

p {
    font-size: 17px;
    text-align: justify;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 15px;
    }
}

nav {
    width: 100vw;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    position: fixed;    
    top: 0;
    z-index: 99;

    background-color: #111;
}

nav > ul {
    display: flex;
    width: 50vw;

    align-items: center;
    justify-content: space-around;
}

nav > ul > li {
    color: #fff;
    list-style: none;
}

nav > ul > li > a:hover {
    color: #69b;
}

nav > ul > li > a {
    text-decoration: none;
}

@media (max-width: 768px) {
    nav > ul {
        display: none;
    }

    nav > h4 {
        font-size: 20px;
    }

    body {
        padding-top: 60px; 
    }
}

section {
    padding: 3rem 3rem 0 3rem;  
    margin: 25vh 0;
}

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#about-me > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 65%;
}

#about-me > img {
    width: 400px;
    height: 400px;
}

#about-me > div > div {
    display: flex;
    gap: 20px;
}

#about-me > div > div > a > img {
    width: 50px;
    height: 50px;
}

@media (max-width: 1300px) {
    #about-me {
        flex-direction: column-reverse; 
        gap: 80px;
    }

    #about-me > div {
        max-width: 100%; 
        text-align: center;
    }

    #about-me > img {
        width: 300px;
        height: auto;
    }

    #about-me > div > div {
        justify-content: center;
        gap: 100px;
    }
    
    #about-me > div > div > a > img {
        width: 30px;
        height: 30px;
    }
    
}

#experiences > h2 {
    margin: 2rem 0;
}

#experiences > ul > li {
    margin: 1.5rem 1rem;
}

#experiences > ul > li::marker {
    color: #fff;
}

#projects > ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

#projects > ul > li {
    max-width: 500px;
}

#projects > ul > li > a {
    text-decoration: none;
}

#projects > ul > li > a:hover {
    
}

#projects > ul > li > a > img{
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

#projects > ul > li > a > div > h3, h4, p {
    margin: 0.5rem 0;
}

#educations > h2 {
    margin: 2rem 0;
}

#educations > ul > li {
    display: flex;
    gap: 20px;
    margin: 1.5rem 0;
    flex-wrap: wrap;
}

#educations > ul > li > img {
    width: 400px;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: black;
}

@media (max-width: 768px) {
    #projects > ul {
        grid-template-columns: 1fr; 
    }

    #educations > ul > li {
        flex-direction: column; 
    }

    #educations > ul > li > img {
        width: 80%;
        height: auto;
    }
}
